<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minter App</title>
    <link rel="stylesheet" href="/public/home.css" />
  </head>
  <body>
    <form
      id="file-upload-form"
      action="/upload"
      method="POST"
      enctype="multipart/form-data"
    >
      <input
        class="input1"
        type="file"
        name="file"
        id="file-input"
        accept=".png, .jpg"
      />

      <button type="submit" class="btn1">Mint NFT</button>
    </form>
    <div id="image-container"></div>
    <div id="transaction"></div>

    <script src="/public/index.js"></script>
  </body>
</html>
